header {
  background: linear-gradient(90deg, #ff6a00, #ee0979);
  padding: 30px 30px;
  color: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-title {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  flex: 1;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-icon {
  font-size: 1.6rem;
  cursor: pointer;
  margin-right: 15px;
}

.logout-btn {
  background: #fff;
  color: #ee0979;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background: #ffe5ec;
  }
}
