
<div class="add-item-container">
  <form (ngSubmit)="addItem()">
    
    <input type="text" [(ngModel)]="item.description" name="description" placeholder="Description" required />
    <input type="text" [(ngModel)]="item.location" name="location" placeholder="Location" required />
    <select [(ngModel)]="item.tag" name="tag" required>
      <option value="" disabled selected>Select a Tag</option>
      <option *ngFor="let t of tags" [value]="t.name">
        {{ t.name }}
      </option>
    </select>
    <input type="date" [(ngModel)]="item.dateLost" name="dateLost" />
    
    <select [(ngModel)]="item.status" name="status">
      <option value="lost">Lost</option>
      <option value="found">Found</option>
      <option value="found and returned">Found & Returned</option>
    </select>

    <label class="checkbox-label">
      <input type="checkbox" [(ngModel)]="item.autofill" name="autofill" (change)="handleAutofill()"/> Autofill
    </label>

    <input type="text" [(ngModel)]="item.contact" name="contact" placeholder="Contact" />
    <input type="text" [(ngModel)]="item.additionalContact" name="additionalContact" placeholder="Additional Contact" />

    <input 
  type="file" 
  (change)="onImageSelected($event)" 
  accept="image/png, image/jpeg, image/jpg, image/webp"
  multiple
/>

   
    <div class="image-preview" *ngIf="imagePreviews.length > 0">
      <img *ngFor="let img of imagePreviews" [src]="img" alt="preview" />
    </div>

    <button type="submit">Add Item</button>
  </form>
</div>

