

<div class="update-item-container">
  <form (ngSubmit)="updateItem()">
    <h3>Update Item</h3>

    <input type="text" [(ngModel)]="itemData.description" name="description" placeholder="Description" required />
    <input type="text" [(ngModel)]="itemData.location" name="location" placeholder="Location" required />
    <select [(ngModel)]="itemData.tag" name="tag" required>
      <option value="" disabled selected>Select a Tag</option>
      <option *ngFor="let t of tags" [value]="t.name">
        {{ t.name }}
      </option>
    </select>
    <input type="date" [(ngModel)]="itemData.dateLost" name="dateLost" />

    <select [(ngModel)]="itemData.status" name="status">
      <option value="lost">Lost</option>
      <option value="found">Found</option>
      <option value="found and returned">Found & Returned</option>
    </select>

    

    <input type="text" [(ngModel)]="itemData.contact" name="contact" placeholder="Contact" />
    <input type="text" [(ngModel)]="itemData.additionalContact" name="additionalContact" placeholder="Additional Contact" />

    <input type="file" (change)="onImageSelected($event)" multiple />

    <div class="image-preview" *ngIf="imagePreviews.length > 0">
      <img *ngFor="let img of imagePreviews" [src]="img" alt="preview" />
    </div>

    <div class="buttons">
      <button type="submit" class="update-btn">
        <i class="fa-solid fa-pen"></i> Update Item
      </button>
      <button type="button" (click)="cancelUpdate()" class="cancel-btn">
        Cancel
      </button>
    </div>
  </form>
</div>