<div class="tag-search-container">
  <i class="fa-solid fa-magnifying-glass search-icon"></i>

  <select [(ngModel)]="selectedTag" (change)="onTagSelected()" class="tag-dropdown">
    <option value="All" disabled selected>Search by tag</option>
    <option value="All">All</option>
    <option *ngFor="let tag of tags" [value]="tag.name">{{ tag.name }}</option>
  </select>
</div>



<div class="items-grid">
  <div *ngFor="let item of items" class="item-card" (click)="goToDetails(item._id)">

    <div class="image-container" *ngIf="item.images?.length > 0">
      <img 
        [src]="'data:image/png;base64,' + item.images[item.currentImageIndex || 0]" 
        class="main-image" 
        alt="item image"
      >
      
      <button class="prev-btn" *ngIf="item.images.length > 1" (click)="prevImage(item)">&#10094;</button>
      <button class="next-btn" *ngIf="item.images.length > 1" (click)="nextImage(item)">&#10095;</button>
    </div>

    <div class="info">
      <h3>{{ item.description }}</h3>
      <p>Location: {{ item.location }}</p>
      <p>Tag: {{ item.tag }}</p>
      <p>Status:
        <span class="status" [ngClass]="{
          'lost': item.status === 'lost',
          'found': item.status === 'found',
          'returned': item.status === 'found and returned'
        }">{{ item.status }}</span>
      </p>

      <!-- Removed update and delete buttons -->
    </div>
  </div>
</div>