<div class="items-grid">
  <div *ngFor="let item of items" class="item-card">

    
    <div class="image-container" *ngIf="item.images?.length > 0">
      <img 
        [src]="'data:image/png;base64,' + item.images[item.currentImageIndex || 0]" 
        class="main-image" 
        alt="item image"
      >

      
      <button class="prev-btn" *ngIf="item.images.length > 1" (click)="prevImage(item)">&#10094;</button>
      <button class="next-btn" *ngIf="item.images.length > 1" (click)="nextImage(item)">&#10095;</button>
    </div>

    <div class="info">
      <h3>{{ item.description }}</h3>
      <p>Location: {{ item.location }}</p>
      <p>Tag: {{ item.tag }}</p>
      <p>Status:
        <span class="status" [ngClass]="{
          'lost': item.status === 'lost',
          'found': item.status === 'found',
          'returned': item.status === 'found and returned'
        }">{{ item.status }}</span>
      </p>

      <div class="item-actions">
        
        <button (click)="openUpdateModal(item)" class="update-btn">
          <i class="fa-solid fa-pen"></i>
        </button>

        
        <app-delete-item [itemId]="item._id"></app-delete-item>
      </div>
    </div>
  </div>
</div>


<div class="modal-backdrop" *ngIf="showUpdateModal">
  <div class="modal-content">
    <button class="close-btn" (click)="closeUpdateModal()">&#10005;</button>
    <app-update-item 
      [item]="selectedItem"
      (close)="closeUpdateModal()">
    </app-update-item>
  </div>
</div>
